@mixin logo {
  font-family: $font-family-logo;
  font-size: 1.75rem;
  color: $primary-gray;
}

@page {
  size: letter;
  margin: 1in 0.75in;
  @top-left {
    // content: element(headerLeft);
  }
  @top-right {
    // content: element(headerRight);
  }
  @bottom-left {
    // content: element(logo);
  }
  @bottom-right {
    // content: counter(page);
  }
}

@page frontmatter {
  @top-left {
    content: none;
  }
  @top-right {
    content: none;
  }
  @bottom-left {
    content: none;
  }
  @bottom-right {
    content: none;
  }
  counter-reset: page 1;
  // break-after: page;

}


@page backmatter {
  @top-left {
    content: none;
  }
  @top-right {
    content: none;
  }
  @bottom-left {
    content: none;
  }
  @bottom-right {
    content: none;
  }
  counter-reset: page;
  // break-before: page;
}


@page chapter {
  @top-left {
    content: element(headerLeft);
    vertical-align: middle;
    color: $gray-700;
    text-transform: uppercase;
  }
  @top-right {
    content: element(headerRight);
    vertical-align: middle;
    color: $gray-700;
    text-transform: uppercase;
  }
  @bottom-right {
    content: counter(page);
    vertical-align: top;
    color: $gray-700;
  }
  @bottom-left {
    vertical-align: top;
    content: element(logo);
    color: $gray-700;
  }
}

// page breaks
section.level2 {
  break-before: always;
  page: chapter;

  &:first-of-type {
    counter-reset: page 1;
  }
}

.logo {
  @include logo;
}

.front-cover .logo,
.front-matter .logo {
  font-size: 2.75rem;
}

#logo {
  position: running(logo);
  @include logo;
}

#header-left {
  position: running(headerLeft);
}

#header-right {
  position: running(headerRight);
}

.front-matter,
.front-cover,
#TOC {
  page: frontmatter;
}

@media print {
  .front-matter  {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 10px 1fr;
    grid-row-gap: 4px;
    min-height: 500px;
    align-items: end;
  }
  .blurb {
    grid-row: -1;
  }
}




.back-cover {
  page: backmatter;
}

@media not print {
  section.level2 {
    margin-top: 4rem;

    &:before {
      content: '';
      position: absolute;
      border-top: 4px solid $gray-200;
      width: 30%;
    }

    h2 {
      padding-top: 1.5em;
    }
  }

  body {
    padding: 4em;
  }
}